# Heart Attack Prediction

## Attribute Information:

In [4]:
import pandas as pd
data = {
    'Attribute name': ['Age', 'Sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal'],
    'Description': ['personal age', '0 = Male, 1 = Female', '0=Typical Angina, 1=Atypical Angina, 2=Non-anginal pain, 3=Asymptomatic', 'Resting Blood Pressure', 'Serum Cholesterol (mg/dl)', '0: <=120mg/dL, 1:>120mg/dL', '0 = normal, 1 = abnormality, 2= hypertrophy', 'Maximum Heart Rate Achieved', '0=No, 1=Yes', 'ST Depression', '0: Upsloping, 1: Flat, 2: Downsloping', 'Number of Major Vessels Colored by Fluoroscopy', '0: Normal, 1: Fixed Defect, 2: Reversible Defect'],
    'Data Type': ['Numeric', 'Binary', 'Numeric', 'Numeric', 'Numeric', 'Binary', 'Numeric', 'Numeric', 'Binary', 'Numeric', 'Numeric', 'Numeric', 'Numeric'],
    'Range': ['29-77', '0 or 1', '0,1,2,3', '0,1,2', '126-564', '0 or 1', '0,1,2', '71-202', '0 or 1', '0-7', '0,1,2', '0-3', '0,1,2']
}

df = pd.DataFrame(data)
df

,Attribute name,Description,Data Type,Range
0,Age,personal age,Numeric,29-77
1,Sex,"0 = Male, 1 = Female",Binary,0 or 1
2,cp,"0=Typical Angina, 1=Atypical Angina, 2=Non-ang...",Numeric,"0,1,2,3"
3,trestbps,Resting Blood Pressure,Numeric,"0,1,2"
4,chol,Serum Cholesterol (mg/dl),Numeric,126-564
5,fbs,"0: <=120mg/dL, 1:>120mg/dL",Binary,0 or 1
6,restecg,"0 = normal, 1 = abnormality, 2= hypertrophy",Numeric,"0,1,2"
7,thalach,Maximum Heart Rate Achieved,Numeric,71-202
8,exang,"0=No, 1=Yes",Binary,0 or 1
9,oldpeak,ST Depression,Numeric,0-7
10,slope,"0: Upsloping, 1: Flat, 2: Downsloping",Numeric,"0,1,2"
11,ca,Number of Major Vessels Colored by Fluoroscopy,Numeric,0-3
12,thal,"0: Normal, 1: Fixed Defect, 2: Reversible Defect",Numeric,"0,1,2"

# Importing Libraries

In [5]:
# import libraries
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier 
from sklearn. model_selection import train_test_split 
from sklearn import metrics 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn import tree
import warnings
from scipy.stats import zscore
from scipy.stats import chi2_contingency
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
warnings.filterwarnings("ignore")
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from yellowbrick.cluster import SilhouetteVisualizer
from sklearn.pipeline import make_pipeline 
from kneed import KneeLocator

## Load Dataset

In [6]:
# load dataset

df = pd.read_csv('heart.csv')

#### we loaded the heart dataset into a Pandas data frame using the read csv function.

 ## Data Exploration

### Statistical Summary of the Dataset

In [7]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.536390
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.285822
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.260000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,0.710000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,0.810000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,0.900000

### The above statistical description shows that the minimum age of the patients in the dataset is 29 years and the maximum age is 77 years and the average age is 54 years.

### Attributes Data Types

In [8]:
# show attribute data type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   float64
dtypes: float64(2), int64(12)
memory usage: 112.2 KB